.custom{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.custom h1{
    font-size: 6.5rem;
    color: gray;
}
.custom p{
    color: #17BE86;
    font-size: 1.2rem;
}